.hidden {
  display: none; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu Condensed';
  src: url("../fonts/UbuntuCondensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'PT Mono';
  src: url("../fonts/PTM55FT.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'PT Mono';
  src: url("../fonts/PTMonoBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

body {
  font-family: "Ubuntu", Times, serif;
  font-size: calc(0vw + 2.4vh);
  line-height: 1em;
  color: #5D657A;
  font-weight: 400;
  min-width: 320px;
  transition: all 0.3s ease-in-out; }

@keyframes blink {
  0% {
    opacity: 0; }
  49% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.blue-highlight {
  color: #7289DA; }

.underline {
  text-decoration: underline; }

@media (max-width: 1359px) {
  body {
    font-size: calc(0vw + 2.2vh);
    line-height: 24px; } }

@media (max-width: 991px) {
  body {
    font-size: 16px;
    line-height: 24px; } }

@media (min-height: 1150px) {
  body {
    font-size: 24px;
    line-height: 30px; } }

@media (max-height: 700px) {
  body {
    font-size: 16px;
    line-height: 24px; } }

.main-header__cookies {
  background: #7289DA; }

.main-header__cookies-wrapper {
  display: flex;
  box-sizing: border-box;
  width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto; }

@media only screen and (min-width: 992px) and (max-width: 1359px) {
  .main-header__cookies-wrapper {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%; } }

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .main-header__cookies-wrapper {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    width: auto; } }

@media only screen and (max-width: 767px) {
  .main-header__cookies-wrapper {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    width: auto; } }

.main-header__cookies-content {
  margin: 0;
  color: white;
  font-size: 14px;
  padding: 8px 8px 8px 0;
  text-transform: uppercase; }

.main-header__cookies-close {
  background: url(../img/cross.svg) no-repeat center;
  border: none;
  cursor: pointer; }

.main-header__cookies-close:active, .main-header__cookies-close:focus {
  outline: none; }

.main-header__navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding-left: 16px;
  position: relative; }

.main-header__navigation:after {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 4px;
  height: 85%;
  border: 2px solid white;
  background: #7289DA; }

.main-header__navigation-item {
  width: 8.333em;
  line-height: 28px;
  display: flex;
  align-items: center; }

.main-header__navigation-item-link {
  text-transform: uppercase;
  font-size: 1em;
  color: #7289DA;
  font-family: "Ubuntu Condensed", Times, serif;
  transition: all 0.3s ease-in-out; }

.main-header__navigation-item-link:hover {
  color: black; }

.main-header__number {
  white-space: nowrap;
  color: #7289DA;
  font-size: 1.5em;
  padding-left: 48px;
  background: url(../img/phone-icon.svg) no-repeat 16px 14px;
  background-size: 24px;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "PT Mono", Times, serif;
  font-weight: 700;
  transition: all 0.3s ease-in-out; }

.main-header__number:hover {
  color: black; }

.main-header__number:active {
  opacity: .7; }

.main-header__number-section {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 6%; }

.main-header__wrapper {
  padding-top: 8px;
  display: flex;
  box-sizing: border-box;
  width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto; }

@media only screen and (min-width: 992px) and (max-width: 1359px) {
  .main-header__wrapper {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%; } }

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .main-header__wrapper {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    width: auto; } }

@media only screen and (max-width: 767px) {
  .main-header__wrapper {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    width: auto; } }

@media (max-width: 1359px) {
  .main-header__wrapper {
    justify-content: flex-start; }
  .main-header__navigation-item {
    width: 100px;
    margin-right: 24px; }
  .main-header__navigation-item-link {
    font-size: 16px; }
  .main-header__number {
    font-size: 24px;
    padding-left: 40px;
    background: url(../img/phone-icon.svg) no-repeat 8px 16px;
    background-size: 20px; }
  .main-header__number-section {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1; } }

@media (max-width: 991px) {
  .main-header__cookies-content {
    font-size: 10px;
    line-height: 11px; }
  .main-header__number {
    font-size: 18px;
    line-height: 21px;
    padding-left: 30px;
    background: url(../img/phone-icon.svg) no-repeat 8px 14px;
    background-size: 14px; }
  .main-header__number-section {
    margin-right: 0; }
  .main-header__logo {
    width: 100px; }
  .main-header__logo-image {
    width: 100%;
    height: 100%; }
  .main-header__navigation {
    padding-left: 0;
    margin-top: 8px; }
  .main-header__navigation:after {
    display: none; } }

@media (max-width: 640px) {
  .main-header__navigation {
    flex-wrap: wrap; }
  .main-header__navigation-item {
    width: 50%;
    margin-right: 0; }
  .main-header__navigation-item-link {
    display: block;
    width: 45%;
    min-width: 100px; } }

.main-footer__wrapper {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto; }

@media only screen and (min-width: 992px) and (max-width: 1359px) {
  .main-footer__wrapper {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%; } }

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .main-footer__wrapper {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    width: auto; } }

@media only screen and (max-width: 767px) {
  .main-footer__wrapper {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    width: auto; } }

.main-footer__contacts {
  margin: 0;
  font-size: 10px;
  line-height: 11px;
  text-transform: uppercase;
  color: #90A4E7;
  font-family: "Ubuntu Condensed", Times, serif;
  width: 184px;
  margin-bottom: 2em; }

@media (max-width: 991px) {
  .main-footer__wrapper {
    margin-top: 0; } }

@media (max-width: 640px) {
  .main-footer__wrapper {
    margin-top: 32px;
    display: flex;
    justify-content: center; } }

.main-page {
  background: url(../img/background.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.main-page__wrapper {
  box-sizing: border-box;
  width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto; }

@media only screen and (min-width: 992px) and (max-width: 1359px) {
  .main-page__wrapper {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%; } }

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .main-page__wrapper {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    width: auto; } }

@media only screen and (max-width: 767px) {
  .main-page__wrapper {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    width: auto; } }

.offers-section {
  display: flex;
  justify-content: space-between; }

.offers-section__title {
  font-family: "Ubuntu";
  font-size: 2em;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: 400;
  padding: 16px 0 16px 24px;
  position: relative;
  margin: 1em 0 1em 0; }

.offers-section__title:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 90%;
  border: 1px solid white;
  background: #7289DA; }

.offers-section__logo-section {
  display: flex;
  align-items: center; }

.offers-section__content {
  width: 70%; }

.offers-section__offers {
  padding-left: 32px; }

.offers-section__offers-list {
  list-style: none;
  padding-left: 32px;
  margin-bottom: 0; }

.offers-section__offers-item {
  padding-left: 36px;
  position: relative;
  line-height: 1.26em; }

.offers-section__offers-item:after {
  content: "";
  position: absolute;
  left: 15px;
  top: 10px;
  width: 10px;
  height: 10px;
  background: #7289DA; }

.demo-section {
  width: 75%;
  padding-left: 32px; }

.demo-section__form {
  width: 288px; }

.demo-section__title {
  color: #7289DA;
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Ubuntu Condensed", Times, serif;
  text-transform: uppercase;
  margin: 1em 0 0.7em 0; }

.demo-section__description {
  margin: 16px 0; }

.demo-section__input {
  height: 40px;
  width: 288px; }

.demo-section__input::-webkit-input-placeholder {
  color: #B2BBDA;
  text-transform: uppercase;
  font-size: 12px; }

.demo-section__input::-ms-input-placeholder {
  background: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9); }

.demo-section__input::-moz-placeholder {
  background: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9); }

.demo-section__textarea {
  height: 40px;
  color: #B2BBDA; }

.demo-section__textarea:active, .demo-section__textarea:focus {
  outline: none; }

.demo-section__submit {
  display: block;
  margin-top: 1em;
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  cursor: pointer;
  background: #7289DA;
  font-family: "Ubuntu", Times, serif;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 300;
  border: 1px solid #006FF2;
  position: relative;
  transition: all 0.3s ease-in-out; }

.demo-section__submit:active, .demo-section__submit:focus {
  outline: none; }

.demo-section__submit:hover {
  background: #667BC4; }

.demo-section__submit:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  border: 1px solid #667BC4;
  border-radius: 6px;
  transition: all 0.3s ease-in-out; }

.demo-section__submit:active {
  transform: translateX(3px) translateY(3px); }

.demo-section__submit:active:before {
  top: 0;
  left: 0; }

.demo-section__disclaimer {
  color: #90A4E7;
  font-size: 10px;
  margin-top: 16px;
  margin-left: 24px;
  line-height: 11px;
  font-family: "Ubuntu Condensed", Times, serif;
  text-transform: uppercase;
  width: 230px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input, textarea {
  display: block;
  width: 100%;
  padding: 6px 18px;
  border: 1px solid #ccc; }

input {
  margin-bottom: 10px;
  background-color: #fff;
  font-family: 'Ubuntu', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 12px;
  color: #B2BBDA;
  font-weight: 300;
  line-height: 14px; }

textarea {
  font-family: "PT Mono", Times, serif;
  font-size: 24px;
  resize: none;
  background-color: transparent;
  border: 1px solid transparent;
  position: relative;
  padding: 6px 8px;
  overflow: hidden; }

textarea.data-edits {
  background-color: #fff; }

textarea:focus, textarea:active {
  border: 1px solid #667BC4; }

textarea:active + .textarea-placeholder__line,
textarea:focus + .textarea-placeholder__line {
  display: none; }

.textarea-placeholder {
  position: relative;
  height: 40px; }

.textarea-placeholder__line {
  content: "";
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 70%;
  border: 1px solid white;
  background: #667BC4;
  animation: blink 1s linear infinite; }

.textarea-placeholder > div {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 6px 18px;
  background-color: #fff;
  text-transform: uppercase;
  font-family: 'Ubuntu', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 12px;
  color: #B2BBDA;
  font-weight: 300;
  line-height: 14px; }

::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: 'Ubuntu', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 12px;
  color: #B2BBDA;
  font-weight: 300;
  line-height: 14px; }

::-moz-placeholder {
  text-transform: uppercase;
  font-family: 'Ubuntu', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 12px;
  color: #B2BBDA;
  font-weight: 300;
  line-height: 14px; }

::-moz-placeholder {
  text-transform: uppercase;
  font-family: 'Ubuntu', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 12px;
  color: #B2BBDA;
  font-weight: 300;
  line-height: 14px; }

::-ms-input-placeholder {
  text-transform: uppercase;
  font-family: 'Ubuntu', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 12px;
  color: #B2BBDA;
  font-weight: 300;
  line-height: 14px; }

@media (max-width: 1359px) {
  .offers-section__title {
    font-size: 32px;
    line-height: 40px;
    margin: 32px 0; }
  .offers-section__logo {
    width: 100%; }
  .offers-section__logo-section {
    width: 30%;
    padding: 0 0 0 4%;
    justify-content: flex-end; }
  .offers-section__offers-list {
    padding-left: 0px; }
  .demo-section__title {
    font-size: 24px;
    margin: 16px 0; }
  .demo-section__submit {
    font-size: 16px; }
  .demo-section__disclaimer {
    margin-left: 0; } }

@media (max-width: 991px) {
  .offers-section__logo {
    height: 100%; }
  .offers-section__title {
    font-size: 18px;
    line-height: 24px;
    padding: 4px 0 4px 16px;
    margin: 32px 0 24px 0; }
  .offers-section__title::after {
    width: 8px; }
  .offers-section__offers {
    padding-left: 0; }
  .offers-section__offers-item {
    line-height: 24px; }
  .offers-section__offers-item:after {
    top: 8px; }
  .demo-section {
    padding-left: 0;
    width: auto; }
  .demo-section__title {
    margin: 16px 0 8px 0; }
  .demo-section__description {
    margin: 8px 0; }
  .demo-section__form {
    width: auto; }
  .demo-section__submit {
    margin-top: 8px; }
  .textarea-placeholder {
    width: 45%; }
  .textarea-placeholder > div {
    color: #C4C4C4; }
  .demo-section__textarea {
    background-color: rgba(196, 196, 196, 0.25); }
  textarea.data-edits {
    background-color: #F0F0F0;
    color: #C4C4C4; }
  .main-page {
    background: none;
    display: block; } }

@media (max-width: 640px) {
  .offers-section {
    position: relative; }
  .offers-section__logo-section {
    z-index: -1;
    opacity: 0.24;
    position: absolute;
    width: 50%;
    right: 0px; }
  .demo-section__form {
    display: block; }
  .demo-section__disclaimer {
    text-align: center;
    margin: 8px auto 0 auto; }
  .demo-section__submit {
    margin: 0 auto; }
  .textarea-placeholder {
    margin: 0 auto;
    margin-bottom: 8px;
    display: block;
    min-width: 288px; } }
